<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelealf.org">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title th:text="'Spring Boot: MVC + Thymeleaf + Data JPA ' + ${titulo}"></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
    </head>
    <body>

        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Spring Boot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/listar}">Cliente</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${danger != null}" th:text="${danger}"></div>
            <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
            <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>

        </header>

        <div class="container">


        </div>

        <footer th:fragment="footer" class="container"></footer>
    </body>
</html>